.teamMember {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 200ms ease-in-out;
    padding: 20px;
    text-align: center;
    width: 300px;
    margin: 30px;
}

.teamMember_img {
    border-radius: 50%;
    transition: transform 200ms ease-in-out;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.teamMember_h3 {
    font-size: 1.2em;
    margin: 10px 0 5px;
}

.teamMember_p {
    font-size: 0.9em;
    color: #666;
    margin: 5px 0;
    white-space: pre-line;
}

.teamMember:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    transform: scale(1.2);
}
